<div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
      <div class="container">
        <ul class="nav">
		  <a class="brand">Project name</a>
          <li class="active">
             <a href="#">Home</a>
          </li>
          <li><a href="#">Link</a></li>
          <li><a href="#">Link</a></li>
        </ul>		
      </div>
    </div>
</div>
<br/><br/><br/>
<div class="container-fluid">
  <div class="row-fluid">
    <div class="span3 red-color">
    <h1>{{title}}</h1>
    <p>Welcome to {{title}}</p>
    </div>
    <br/>
    <div class="span3 green-color">
    <h1>{{title}}</h1>
    <p>Welcome to {{title}}</p>
    </div>
    <br/>
    <div class="span3 blue-color">
    <h1>{{title}}</h1>
    <p>Welcome to {{title}}</p>
    </div>
    <br/>
    <div class="span3 orange-color">
    <h1>{{title}}</h1>
    <p>Welcome to {{title}}</p>
    {{writeData}}
    </div>
  </div>
</div>
<br/>
<div class='container'>
</div>